* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
html {
  font-size: 63%;
  overflow-x: center;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
.card {
  background-color: rgb(172, 98, 9);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%; /* расстояние   */
  border-bottom: var(--border); /*  линия  */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #000000;
}
.header .navbar a:hover {
  color: gold;
  border-bottom: 0.1rem solid var(--goldd); /* цвет фигнни */
  padding-bottom: 0.5rem; /* ввысота выплывающей палки */
}
